<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LAZADA批量采取工具</title>
    <link rel="stylesheet" href="css/amazeui.css"/>
    <link rel="stylesheet" href="css/common.min.css"/>
    <link rel="stylesheet" href="css/index.min.css"/>
</head>
<body>
<div class="layout">
    <!--===========layout-header================-->
    <div class="layout-header am-hide-sm-only">
        <!--topbar start-->
        <div class="topbar">
            <div class="container">
                <div class="am-g">
                    <!--<div class="am-u-md-3">-->
                    <!--<div class="topbar-left">-->
                    <!--<i class="am-icon-globe"></i>-->
                    <!--<div class="am-dropdown" data-am-dropdown>-->
                    <!--<button class="am-btn am-btn-primary am-dropdown-toggle" data-am-dropdown-toggle>Language <span class="am-icon-caret-down"></span></button>-->
                    <!--<ul class="am-dropdown-content">-->
                    <!--<li><a href="#">English</a></li>-->
                    <!--<li class="am-divider"></li>-->
                    <!--<li><a href="#">Chinese</a></li>-->
                    <!--</ul>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--<div class="am-u-md-9">-->
                    <!--<div class="topbar-right am-text-right am-fr">-->
                    <!--Follow us-->
                    <!--<i class="am-icon-facebook"></i>-->
                    <!--<i class="am-icon-twitter"></i>-->
                    <!--<i class="am-icon-google-plus"></i>-->
                    <!--<i class="am-icon-pinterest"></i>-->
                    <!--<i class="am-icon-instagram"></i>-->
                    <!--<i class="am-icon-linkedin"></i>-->
                    <!--<i class="am-icon-youtube-play"></i>-->
                    <!--<i class="am-icon-rss"></i>-->
                    <!--<a href="html/login.html">登录</a>-->
                    <!--<a href="html/register.html">注册</a>-->
                    <!--</div>-->
                    <!--</div>-->
                </div>
            </div>
        </div>
        <!--topbar end-->


        <div class="header-box" data-am-sticky>
            <!--header start-->
            <div class="container">
                <div class="header">
                    <div class="am-g">
                        <div class="am-u-lg-2 am-u-sm-12">
                            <div class="logo">
                                <a href=""><img src="images/catch.png" alt=""/></a>
                            </div>
                        </div>
                        <div class="am-u-md-10">
                            <div class="header-right am-fr">
                                <div class="header-contact">
                                    <div class="header_contacts--item">
                                        <div class="contact_mini">
                                            <i style="color:#7c6aa6" class="contact-icon am-icon-qq"></i>
                                            <strong>318074670</strong>
                                            <span>客服24小时在线</span>
                                        </div>
                                    </div>
                                    <div class="header_contacts--item">
                                        <div class="contact_mini">
                                            <i style="color:#7c6aa6" class="contact-icon am-icon-weixin"></i>
                                            <strong>ds318074670</strong>
                                            <span>欢迎随时联系！</span>
                                        </div>
                                    </div>
                                    <div class="header_contacts--item">
                                        <div class="contact_mini">
                                            <i style="color:#7c6aa6" class="contact-icon am-icon-map-marker"></i>
                                            <strong>广东-深圳-宝安</strong>
                                            <span>离LAZADA深圳仓库不足3公里</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--header end-->


            <!--nav start-->
            <div class="nav-contain">
                <div class="nav-inner">
                    <ul class="am-nav am-nav-pills am-nav-justify">
                        <li class=""><a href="/index">首页</a></li>
                        <li>
                            <a href="#">软件下载</a>
                            <!-- sub-menu start-->
                            <ul class="sub-menu">
                                <li class="menu-item"><a href="html/product1.html">试用版</a></li>
                                <li class="menu-item"><a href="html/product2.html">正式版</a></li>
                            </ul>
                            <!-- sub-menu end-->
                        </li>
                        <li><a href="html/example.html">LAZADA数据包</a></li>
                        <li><a href="html/solution.html">代打包送货</a></li>
                        <li>
                            <a href="html/news.html">FBA美国空运</a>
                            <!-- sub-menu start-->
                            <!--<ul class="sub-menu">-->
                            <!--<li class="menu-item"><a href="html/news-content.html">公司动态</a></li>-->
                            <!--<li class="menu-item"><a href="html/404-dark.html">行业动态</a></li>-->
                            <!--<li class="menu-item"><a href="html/404-light.html">精彩专题</a></li>-->
                            <!--</ul>-->
                            <!-- sub-menu end-->
                        </li>
                        <!--<li><a href="html/about.html">打印机耗材</a></li>-->
                        <li><a href="html/join.html">加盟推广</a></li>
                        <li><a href="html/contact.html">联系我们</a></li>
                    </ul>
                </div>
            </div>
            <!--nav end-->
        </div>
    </div>

    <!--mobile header start-->
    <!--<div class="m-header">-->
    <!--<div class="am-g am-show-sm-only">-->
    <!--<div class="am-u-sm-2">-->
    <!--<div class="menu-bars">-->
    <!--<a href="#doc-oc-demo1" data-am-offcanvas="{effect: 'push'}"><i-->
    <!--class="am-menu-toggle-icon am-icon-bars"></i></a>-->
    <!--&lt;!&ndash; 侧边栏内容 &ndash;&gt;-->
    <!--<nav data-am-widget="menu" class="am-menu  am-menu-offcanvas1" data-am-menu-offcanvas>-->
    <!--<a href="javascript: void(0)" class="am-menu-toggle"></a>-->

    <!--<div class="am-offcanvas">-->
    <!--<div class="am-offcanvas-bar">-->
    <!--<ul class="am-menu-nav am-avg-sm-1">-->
    <!--<li><a href="./index.html" class="">首页</a></li>-->
    <!--<li class="am-parent">-->
    <!--<a href="#" class="">产品中心</a>-->
    <!--<ul class="am-menu-sub am-collapse ">-->
    <!--<li class="">-->
    <!--<a href="html/product1.html" class="">产品展示1</a>-->
    <!--</li>-->
    <!--<li class="">-->
    <!--<a href="html/product2.html" class="">产品展示2</a>-->
    <!--</li>-->
    <!--<li class="">-->
    <!--<a href="html/product3.html" class="">产品展示3</a>-->
    <!--</li>-->
    <!--</ul>-->
    <!--</li>-->
    <!--<li class=""><a href="html/example.html" class="">客户案例</a></li>-->
    <!--<li class=""><a href="html/solution.html" class="">解决方案</a></li>-->
    <!--<li class="am-parent">-->
    <!--<a href="html/news.html" class="">新闻中心</a>-->
    <!--<ul class="am-menu-sub am-collapse  ">-->
    <!--<li class="">-->
    <!--<a href="html/news-content.html" class="">公司动态</a>-->
    <!--</li>-->
    <!--<li class="">-->
    <!--<a href="html/404-dark.html" class="">行业动态</a>-->
    <!--</li>-->
    <!--<li class="">-->
    <!--<a href="html/404-light.html" class="">精彩专题</a>-->
    <!--</li>-->
    <!--</ul>-->
    <!--</li>-->
    <!--<li class=""><a href="html/about.html" class="">关于我们</a></li>-->
    <!--<li class=""><a href="html/join.html" class="">加入我们</a></li>-->
    <!--<li class=""><a href="html/contact.html" class="">联系我们</a></li>-->
    <!--<li class="am-parent">-->
    <!--<a href="" class="nav-icon nav-icon-globe">Language</a>-->
    <!--<ul class="am-menu-sub am-collapse  ">-->
    <!--<li>-->
    <!--<a href="#">English</a>-->
    <!--</li>-->
    <!--<li class="">-->
    <!--<a href="#">Chinese</a>-->
    <!--</li>-->
    <!--</ul>-->
    <!--</li>-->
    <!--<li class="nav-share-contain">-->
    <!--<div class="nav-share-links">-->
    <!--<i class="am-icon-facebook"></i>-->
    <!--<i class="am-icon-twitter"></i>-->
    <!--<i class="am-icon-google-plus"></i>-->
    <!--<i class="am-icon-pinterest"></i>-->
    <!--<i class="am-icon-instagram"></i>-->
    <!--<i class="am-icon-linkedin"></i>-->
    <!--<i class="am-icon-youtube-play"></i>-->
    <!--<i class="am-icon-rss"></i>-->
    <!--</div>-->
    <!--</li>-->
    <!--<li class=""><a href="html/login.html" class="">登录</a></li>-->
    <!--<li class=""><a href="html/register.html" class="">注册</a></li>-->
    <!--</ul>-->

    <!--</div>-->
    <!--</div>-->
    <!--</nav>-->

    <!--</div>-->
    <!--</div>-->
    <!--<div class="am-u-sm-5 am-u-end">-->
    <!--<div class="m-logo">-->
    <!--<a href=""><img src="images/index1.png" alt=""></a>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--&lt;!&ndash;mobile header end&ndash;&gt;-->
    <!--</div>-->


    <!--===========layout-container================-->
    <div class="layout-container">
        <div class="index-page">
            <div data-am-widget="tabs" class="am-tabs am-tabs-default">
                <div class="am-tabs-bd">
                    <div data-tab-panel-0 class="am-tab-panel am-active">
                        <div class="index-banner">
                            <div class="index-mask">
                                <div class="container">
                                    <div class="am-g">
                                        <div class="am-u-md-10 am-u-sm-centered">
                                            <h1 class="slide_simple--title">批量采集 大量铺货 迅速出单</h1>
                                            <p class="slide_simple--text am-text-left">
                                                全LAZADA现阶段是铺货的时间，是入门电商事业起步的平台。要抓紧时间大量铺货，将出货产品，成本优化好，为下一步打造精品店而作准备。
                                                <br>LAZADA已经被速卖通团队接收了，近期的类似直通车功能，平台关键词出现，这些都是为了下步而准备的，如果晚一些时间再铺货，成单的机率会低好多，现在平台要的就是数量跟价格、发货速度。
                                            </p>
                                            <div class="slide_simple--buttons">
                                                <button type="button" class="am-btn am-btn-danger">了解更多</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-tab-panel-1 class="am-tab-panel ">
                        <div class="index-banner">
                            <div class="index-mask">
                                <div class="container">
                                    <div class="am-g">
                                        <div class="am-u-md-10 am-u-sm-centered">
                                            <h1 class="slide_simple--title">企业移动化，首选云适配</h1>
                                            <p class="slide_simple--text am-text-left">
                                                全球领先的HTML5企业移动化解决方案供应商，安全高效的帮助您的企业移动化。云适配企业浏览器Enterploer,让企业安全迈进移动办公时代！
                                            </p>
                                            <div class="slide_simple--buttons">
                                                <button type="button" class="am-btn am-btn-danger">了解更多</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-tab-panel-2 class="am-tab-panel ">
                        <div class="index-banner">
                            <div class="index-mask">
                                <div class="container">
                                    <div class="am-g">
                                        <div class="am-u-md-10 am-u-sm-centered">
                                            <h1 class="slide_simple--title">企业移动化，首选云适配</h1>
                                            <p class="slide_simple--text am-text-left">
                                                全球领先的HTML5企业移动化解决方案供应商，安全高效的帮助您的企业移动化。云适配企业浏览器Enterploer,让企业安全迈进移动办公时代！
                                            </p>
                                            <div class="slide_simple--buttons">
                                                <button type="button" class="am-btn am-btn-danger">了解更多</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-tab-panel-3 class="am-tab-panel ">
                        <div class="index-banner">
                            <div class="index-mask">
                                <div class="container">
                                    <div class="am-g">
                                        <div class="am-u-md-10 am-u-sm-centered">
                                            <h1 class="slide_simple--title">企业移动化，首选云适配</h1>
                                            <p class="slide_simple--text am-text-left">
                                                全球领先的HTML5企业移动化解决方案供应商，安全高效的帮助您的企业移动化。云适配企业浏览器Enterploer,让企业安全迈进移动办公时代！
                                            </p>
                                            <div class="slide_simple--buttons">
                                                <button type="button" class="am-btn am-btn-danger">了解更多</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <ul class="am-tabs-nav am-cf index-tab">
                    <li class="am-active">
                        <a href="[data-tab-panel-0] am-g">
                            <div class="am-u-md-3 am-u-sm-3 am-padding-right-0">
                                <i class="am-icon-cog"></i>
                            </div>
                            <div class="school-item-right am-u-md-9 am-u-sm-9 am-text-left">
                                <strong class="promo_slider_nav--item_title">LAZADA批量采取工具</strong>
                                <p class="promo_slider_nav--item_description">提供批量采集工具+现成出单数据包</p>
                            </div>
                        </a>
                    </li>
                    <li class="a">
                        <a href="[data-tab-panel-1] am-g">
                            <div class="am-u-md-3 am-u-sm-3 am-padding-right-0">
                                <i class="am-icon-lightbulb-o"></i>
                            </div>
                            <div class="school-item-right am-u-md-9 am-u-sm-9 am-text-left">
                                <strong class="promo_slider_nav--item_title">代打包送货服务</strong>
                                <p class="promo_slider_nav--item_description">免费送货到LAZADA深圳仓库</p>
                            </div>
                        </a>
                    </li>
                    <li class="">
                        <a href="[data-tab-panel-2] am-g">
                            <div class="am-u-md-3 am-u-sm-3 am-padding-right-0">
                                <i class="am-icon-line-chart"></i>
                            </div>
                            <div class="school-item-right am-u-md-9 am-u-sm-9 am-text-left">
                                <strong class="promo_slider_nav--item_title">FBI美国DHL报价表</strong>
                                <p class="promo_slider_nav--item_description">不限重量，免费上门取件</p>
                            </div>
                        </a>
                    </li>
                    <!--<li class="">-->
                    <!--<a href="[data-tab-panel-3] am-g">-->
                    <!--<div class="am-u-md-3 am-u-sm-3 am-padding-right-0">-->
                    <!--<i class="am-icon-hourglass-end"></i>-->
                    <!--</div>-->
                    <!--<div class="school-item-right am-u-md-9 am-u-sm-9 am-text-left">-->
                    <!--<strong class="promo_slider_nav&#45;&#45;item_title">打印机耗材</strong>-->
                    <!--<p class="promo_slider_nav&#45;&#45;item_description">一插即用，低成本，省时省钱</p>-->
                    <!--</div>-->
                    <!--</a>-->
                    <!--</li>-->
                </ul>
            </div>

        </div>
    </div>


    <div class="section">
        <div class="container">
            <div class="section--header">
                <h2 class="section--title">软件特点</h2>
                <p class="section--description">
                    Lazada是东南亚地区最大的在线购物网站之一。阿里巴巴花费巨资收购了Lazada，东南亚地区的网上购物也正在飞速发展中，可见在Lazada上开店已具备相当大的投资回报率。
                    <br>使用我们的工具可以助您花费最少的时间上传更多的产品到Lazada店
                </p>
            </div>

            <!--index-container start-->
            <div class="index-container">
                <div class="am-g">
                    <div class="am-u-md-3">
                        <div class="features_item">
                            <img src="images/index/f01.jpg" alt="">
                            <h3 class="features_item--title">云速度采集</h3>

                        </div>
                    </div>
                    <div class="am-u-md-3">
                        <div class="features_item">
                            <img src="images/index/f02.jpg" alt="">
                            <h3 class="features_item--title">数据编辑操作方便</h3>

                        </div>
                    </div>
                    <div class="am-u-md-3">
                        <div class="features_item">
                            <img src="images/index/f03.jpg" alt="">
                            <h3 class="features_item--title">快速一键批量上传</h3>

                        </div>
                    </div>
                    <div class="am-u-md-3">
                        <div class="features_item">
                            <img src="images/index/f04.jpg" alt="">
                            <h3 class="features_item--title">专业帮忙批量上传</h3>

                        </div>
                    </div>
                </div>

                <!--<div class="index-more">-->
                <!--<button type="button" class="am-btn am-btn-secondary">MORE&nbsp;&nbsp;>></button>-->
                <!--</div>-->
            </div>
            <!--index-container end-->
        </div>
    </div>

</div>

<!--promo_detailed start-->
<div class="promo_detailed">
    <div class="promo_detailed-container">
        <div class="container">
            <div class="am-g">
                <div class="am-u-md-6">
                    <ul class="promo_detailed--list">
                        <li class="promo_detailed--list_item">
                <span class="promo_detailed--list_item_icon">
                  <i class="am-icon-diamond"></i>
                </span>
                            <dl>
                                <dt>免费送货到深圳仓库，发货迅速</dt>
                                <dd>
                                    有专业的一对一打包服务人员，保障发货速度，当天4点收到货，当天送到仓库，快速扫描。
                                </dd>
                            </dl>
                        </li>
                        <li class="promo_detailed--list_item">
                <span class="promo_detailed--list_item_icon">
                  <i class="am-icon-dollar" style="margin-left: 15px;"></i>
                </span>
                            <dl>
                                <dt>免费仓库存储，有单快速发</dt>
                                <dd>
                                    我们提供囤货服务，系统化货品处理流程，有单，直接发货到深圳仓库，省时控制成本。
                                </dd>
                            </dl>
                        </li>
                        <li class="promo_detailed--list_item">
                <span class="promo_detailed--list_item_icon">
                  <i class="am-icon-bank" style="margin-left: 10px;"></i>
                </span>
                            <dl>
                                <dt>免费提供包装材料，包装质量有保障</dt>
                                <dd>
                                    各种尺寸纸箱、泡沫等材料齐全，适合不同货品包装，保障运输过程货品的安全性。
                                </dd>
                            </dl>
                        </li>
                    </ul>
                </div>

                <div class="am-u-md-6">
                    <div class="promo_detailed--cta">
                        <div class="promo_detailed--cta_wrap">
                            <div class="promo_detailed--cta_text">
                                代打包服务，帮助解决打包问题，省时省力省成本，有效操作运营成本，快速发货，增加出单几率
                            </div>
                            <div class="promo_detailed--cta_footer">
                                <button type="button" class="am-btn am-btn-danger">MORE&nbsp;&nbsp;>></button>
                            </div>
                        </div>
                        <div class="promo_detailed-img am-show-sm-only"
                             style="background-image: url('images/index/promo_detailed_bg.jpg');"></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="promo_detailed-img am-hide-sm-only"
         style="background-image: url('images/index/promo_detailed_bg.jpg');"></div>
</div>
<!--promo_detailed end-->

<div class="section" style="border-bottom: 1px solid #e9e9e9;">
    <div class="container">
        <div class="section--header">
            <h2 class="section--title">软件服务保障</h2>
            <p class="section--description">
                我们有专业人员24小时在线提供全功能服务，专业帮助客户解决在使用过程中的问题。
            </p>
        </div>

        <!--index-container start-->
        <div class="index-container">
            <div class="am-g">
                <div class="am-u-md-3">
                    <div class="service_item">
                        <i class="service_item--icon am-icon-diamond"></i>
                        <h3 class="service_item--title">购买无忧</h3>
                        <div class="service_item--text">
                            <p>标签栏可切换，不必为了新内容而被迫跳转界面，多项工作内容并行处理</p>
                        </div>
                        <!--<footer class="service_item&#45;&#45;footer"><a href="#" class="link -blue_light">Learn More>></a></footer>-->
                    </div>
                </div>

                <div class="am-u-md-3">
                    <div class="service_item">
                        <i class="service_item--icon am-icon-user"></i>
                        <h3 class="service_item--title">远程客服协助</h3>
                        <div class="service_item--text">
                            <p>只要客服同意，即可在线协助解决上传问题</p>
                        </div>
                        <!--<footer class="service_item&#45;&#45;footer"><a href="#" class="link -blue_light">Learn More>></a></footer>-->
                    </div>
                </div>

                <div class="am-u-md-3">
                    <div class="service_item">
                        <i class="service_item--icon am-icon-umbrella"></i>
                        <h3 class="service_item--title">云计算采集</h3>
                        <div class="service_item--text">
                            <p>阿里云服务器采集，速度快</p>
                        </div>
                        <!--<footer class="service_item&#45;&#45;footer"><a href="#" class="link -blue_light">Learn More>></a></footer>-->
                    </div>
                </div>

                <div class="am-u-md-3">
                    <div class="service_item">
                        <i class="service_item--icon am-icon-briefcase"></i>
                        <h3 class="service_item--title">软件持续更新</h3>
                        <div class="service_item--text">
                            <p>我们定期更新工具，保证工具采集功能正常高效运行</p>
                        </div>
                        <!--<footer class="service_item&#45;&#45;footer"><a href="#" class="link -blue_light">Learn More>></a></footer>-->
                    </div>
                </div>
            </div>
        </div>
        <!--index-container end-->
    </div>
</div>


<div class="section">
    <div class="container">
        <div class="section--header">
            <h2 class="section--title">产品价格</h2>
            <!--<p class="section&#45;&#45;description">-->
            <!--全球领先HTML5企业移动化解决方案供应商，由前微软美国总部IE浏览器核心研发团队成员及移动互联网行业专家在美国西雅图创立-->
            <!--<br>获得了微软创投的扶持以及晨兴资本、IDG资本、天创资本等国际顶级风投机构的投资。-->
            <!--</p>-->
        </div>

        <div class="pricing_compare">
            <ul class="pricing_compare--options">
                <li class="pricing_compare--option"><i class="pricing_compare--option_icon am-icon-group"></i>Company
                    Size
                </li>
                <li class="pricing_compare--option"><i class="pricing_compare--option_icon am-icon-umbrella"></i>Insurance
                    Coverage
                </li>
                <li class="pricing_compare--option"><i class="pricing_compare--option_icon am-icon-life-ring"></i>Number
                    of Consultations
                </li>
                <li class="pricing_compare--option"><i class="pricing_compare--option_icon am-icon-street-view"></i>Phone
                    Support
                </li>
                <li class="pricing_compare--option"><i class="pricing_compare--option_icon am-icon-dollar"></i>Investments
                    Protection
                </li>
            </ul>
            <div class="pricing_compare--plans">
                <div class="pricing_plan">
                    <header class="pricing_plan--header">
                        <h2 class="pricing_plan--title"><b>BASIC </b>PLAN</h2><strong class="pricing_plan--price">$69
                        <small>/m</small>
                    </strong>
                    </header>
                    <ul class="pricing_plan--options">
                        <li class="pricing_plan--option"><b>1-9 </b>people</li>
                        <li class="pricing_plan--option"><b>12</b>months</li>
                        <li class="pricing_plan--option"><b>10 </b>monthly</li>
                        <li class="pricing_plan--option"><b>3 </b>weeks</li>
                        <li class="pricing_plan--option"><b>10 </b>millions</li>
                    </ul>
                    <!--<footer class="pricing_plan&#45;&#45;footer">-->
                    <!--<button type="button" class="am-btn am-btn-secondary">choose</button>-->
                    <!--</footer>-->
                </div>
                <div class="pricing_plan popular">
                    <header class="pricing_plan--header"><span class="pricing_plan--label popular">Popular</span>
                        <h2 class="pricing_plan--title"><b>plus </b>PLAN</h2><strong class="pricing_plan--price">$99
                            <small>/m</small>
                        </strong>
                    </header>
                    <ul class="pricing_plan--options">
                        <li class="pricing_plan--option"><b>10-99 </b>people</li>
                        <li class="pricing_plan--option"><b>24</b>months</li>
                        <li class="pricing_plan--option"><b>15 </b>monthly</li>
                        <li class="pricing_plan--option"><b>6 </b>weeks</li>
                        <li class="pricing_plan--option"><b>30 </b>millions</li>
                    </ul>
                    <!--<footer class="pricing_plan&#45;&#45;footer">-->
                    <!--<button type="button" class="am-btn am-btn-danger">choose</button>-->
                    <!--</footer>-->
                </div>
                <div class="pricing_plan">
                    <header class="pricing_plan--header">
                        <h2 class="pricing_plan--title"><b>PRO </b>PLAN</h2><strong class="pricing_plan--price">
                        <small>Custom</small>
                    </strong>
                    </header>
                    <ul class="pricing_plan--options">
                        <li class="pricing_plan--option"><b>Unlimited </b>people</li>
                        <li class="pricing_plan--option"><b>Unlimited </b>time</li>
                        <li class="pricing_plan--option"><b>Unlimited </b>time</li>
                        <li class="pricing_plan--option"><b>Unlimited </b>time</li>
                        <li class="pricing_plan--option"><b>Unlimited </b>sum</li>
                    </ul>
                    <!--<footer class="pricing_plan&#45;&#45;footer">-->
                    <!--<button type="button" class="am-btn am-btn-secondary">choose</button>-->
                    <!--</footer>-->
                </div>
            </div>
        </div>

    </div>
</div>


<div class="section promo_banner-container">
    <!--index-container start-->
    <div class="promo_banner-box">
        <div class="container">
            <h2 class="promo_banner--title">加盟推广</h2>
            <p class="promo_banner--text">
                我们的工具深受电商界朋友的支持，欢迎加盟，一起将这个工具推广开来，只要成功加盟，
                <br>每成功推广一位使用我们的工具，就能获得更加丰厚的回报。
                <!--<footer class="promo_banner&#45;&#45;footer">-->
                <!--<button type="button" class="am-btn am-btn-secondary">MORE>></button>-->
                <!--</footer>-->
        </div>
    </div>
    <!--index-container end-->
</div>


<!--customer-logo start-->
<!--<div class="customer-logo">-->
<!--<div class="container">-->
<!--<div class="am-g">-->
<!--<div class="am-u-md-2 am-u-sm-4 customer-box">-->
<!--<a href="#">-->
<!--<img class="normal-logo" src="images/index/customer_logo_Microsoft.png" alt="" />-->
<!--<img class="am-active"  alt=""src="images/index/customer_logo_Microsoft_active.png" alt="" />-->
<!--</a>-->
<!--</div>-->
<!--<div class="am-u-md-2 am-u-sm-4 customer-box">-->
<!--<a href="#">-->
<!--<img class="normal-logo" src="images/index/customer_logo_qhdx.png" alt="" />-->
<!--<img class="am-active" src="images/index/customer_logo_qhdx_active.png" alt="" />-->
<!--</a>-->
<!--</div>-->
<!--<div class="am-u-md-2 am-u-sm-4 customer-box">-->
<!--<a href="#">-->
<!--<img class="normal-logo" src="images/index/customer_logo_gmw.png" alt="" />-->
<!--<img class="am-active" src="images/index/customer_logo_gmw_active.png" alt="" />-->
<!--</a>-->
<!--</div>-->
<!--<div class="am-u-md-2 am-u-sm-4 customer-box">-->
<!--<a href="#">-->
<!--<img class="normal-logo" src="images/index/customer_logo_gov.png" alt="" />-->
<!--<img class="am-active" src="images/index/customer_logo_gov_active.png" alt="" />-->
<!--</a>-->
<!--</div>-->
<!--<div class="am-u-md-2 am-u-sm-4 customer-box">-->
<!--<a href="#">-->
<!--<img class="normal-logo" src="images/index/customer_logo_jl.png" alt="" />-->
<!--<img class="am-active" src="images/index/customer_logo_jl_active.png" alt="" />-->
<!--</a>-->
<!--</div>-->
<!--<div class="am-u-md-2 am-u-sm-4 customer-box">-->
<!--<a href="#">-->
<!--<img class="normal-logo" src="images/index/customer_logo_hx.png" alt="" />-->
<!--<img class="am-active" src="images/index/customer_logo_hx_active.png" alt="" />-->
<!--</a>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--customer-logo end-->


<div class="section" style="margin-top:0px;background-image: url('images/pattern-light.png');">
    <div class="container">
        <!--index-container start-->
        <div class="index-container">
            <div class="am-g">
                <div class="am-u-md-4">
                    <div class="contact_card">
                        <i style="color:#0066FF" class="contact_card--icon am-primary am-icon-qq"></i>
                        <strong class="contact_card--title">QQ联系</strong>
                        <p class="contact_card--text"><br> <strong>318074670</strong> <br></p>
                        <!--<button type="button" class="am-btn am-btn-secondary">Order a Call Back</button>-->
                    </div>
                </div>
                <div class="am-u-md-4">
                    <div class="contact_card">
                        <i style="color:#339933" class="contact_card--icon am-success am-icon-weixin"></i>
                        <strong class="contact_card--title">微信联系</strong>
                        <p class="contact_card--text"><br> <strong>ds318074670</strong> <br></p>
                        <!--<button type="button" class="am-btn am-btn-secondary">Start Writing</button>-->
                    </div>
                </div>
                <div class="am-u-md-4">
                    <div class="contact_card">
                        <i style="color:#59bcdb" class="contact_card--icon am-icon-map-marker"></i>
                        <strong class="contact_card--title">送货地址</strong>
                        <p class="contact_card--text"><br> <strong>广东·深圳·宝安福永新和二区7巷9号</strong> <br></p>
                        <!--<button type="button" class="am-btn am-btn-secondary">See the Map</button>-->
                    </div>
                </div>
            </div>
        </div>
        <!--index-container end-->
    </div>
</div>


<!--===========layout-footer================-->
<div class="layout-footer">
    <div class="footer">
        <div style="background-color:#383d61" class="footer--bg"></div>
        <div class="footer--inner">
            <div class="container">
                <div class="footer_main">
                    <div class="am-g">
                        <div class="am-u-md-3 ">
                            <div class="footer_main--column">
                                <strong class="footer_main--column_title"></strong>
                                <div class="footer_about">
                                    <p class="footer_about--text">

                                        <br>
                                        <br>
                                        <br>
                                    </p>
                                    <p class="footer_about--text">
                                        <br>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <!--<div class="am-u-md-3 ">-->
                        <!--<div class="footer_main&#45;&#45;column">-->
                        <!--<strong class="footer_main&#45;&#45;column_title">产品中心</strong>-->
                        <!--<ul class="footer_navigation">-->
                        <!--<li class="footer_navigation&#45;&#45;item"><a href="#" class="footer_navigation&#45;&#45;link">Enterplorer-->
                        <!--企业浏览器</a></li>-->
                        <!--<li class="footer_navigation&#45;&#45;item"><a href="#" class="footer_navigation&#45;&#45;link">Xcloud-->
                        <!--网站跨屏云</a></li>-->
                        <!--<li class="footer_navigation&#45;&#45;item"><a href="#" class="footer_navigation&#45;&#45;link">Amaze-->
                        <!--UI 前端开发框架</a></li>-->
                        <!--<li class="footer_navigation&#45;&#45;item"><a href="#" class="footer_navigation&#45;&#45;link">Amaze-->
                        <!--UI 前端开发框架</a></li>-->
                        <!--<li class="footer_navigation&#45;&#45;item"><a href="#" class="footer_navigation&#45;&#45;link">Amaze-->
                        <!--UI 前端开发框架</a></li>-->
                        <!--</ul>-->
                        <!--</div>-->
                        <!--</div>-->

                        <!--<div class="am-u-md-3 ">-->
                        <!--<div class="footer_main&#45;&#45;column">-->
                        <!--<strong class="footer_main&#45;&#45;column_title">技术支持</strong>-->
                        <!--<ul class="footer_navigation">-->
                        <!--<li class="footer_navigation&#45;&#45;item"><a href="#" class="footer_navigation&#45;&#45;link">企业移动信息化白皮书</a>-->
                        <!--</li>-->
                        <!--<li class="footer_navigation&#45;&#45;item"><a href="#" class="footer_navigation&#45;&#45;link">企业移动信息化白皮书</a>-->
                        <!--</li>-->
                        <!--<li class="footer_navigation&#45;&#45;item"><a href="#" class="footer_navigation&#45;&#45;link">企业移动信息化白皮书</a>-->
                        <!--</li>-->
                        <!--<li class="footer_navigation&#45;&#45;item"><a href="#" class="footer_navigation&#45;&#45;link">企业移动信息化白皮书</a>-->
                        <!--</li>-->
                        <!--<li class="footer_navigation&#45;&#45;item"><a href="#" class="footer_navigation&#45;&#45;link">企业移动信息化白皮书</a>-->
                        <!--</li>-->
                        <!--</ul>-->
                        <!--</div>-->
                        <!--</div>-->

                        <!--<div class="am-u-md-3 ">-->
                        <!--<div class="footer_main&#45;&#45;column">-->
                        <!--<strong class="footer_main&#45;&#45;column_title">联系详情</strong>-->
                        <!--<ul class="footer_contact_info">-->
                        <!--<li class="footer_contact_info&#45;&#45;item"><i class="am-icon-phone"></i><span>服务专线：400 069 0309</span>-->
                        <!--</li>-->
                        <!--<li class="footer_contact_info&#45;&#45;item"><i class="am-icon-envelope-o"></i><span>yunshipei.com</span>-->
                        <!--</li>-->
                        <!--<li class="footer_contact_info&#45;&#45;item"><i class="am-icon-map-marker"></i><span>北京市海淀区海淀大街27号天使大厦（原亿景大厦）三层</span>-->
                        <!--</li>-->
                        <!--<li class="footer_contact_info&#45;&#45;item"><i class="am-icon-clock-o"></i><span>Monday - Friday, 9am - 6 pm; </span>-->
                        <!--</li>-->
                        <!--</ul>-->
                        <!--</div>-->
                        <!--</div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="js/jquery-2.1.0.js" charset="utf-8"></script>
<script src="js/amazeui.js" charset="utf-8"></script>
<script src="js/common.js" charset="utf-8"></script>
<script type="text/javascript">
    var divM = document.getElementsByClassName("index-banner");
    divM.onclick = function () {
        alert("成功");

    }
</script>
</body>

</html>
