<p>
    <span style="font-size: 20px;"><strong><span style="font-family: 宋体;">深圳神猫速运代打包优势：</span></strong></span><span
        style="font-size:16px;font-family:宋体"> </span>
</p>
<p style="margin-left:0;text-indent:0">
    <span style="font-size:16px;font-family:宋体">1. </span><span style="font-size:16px;font-family:宋体">卖家可直接从 1688 上买货寄到我们神猫仓库，可以省了一半的快递费和时间； </span>
</p>
<p>
    <span style="font-size:16px;font-family:宋体">2. </span><span style="font-size:16px;font-family: 宋体">货物寄到我们神猫仓库后，将会有一对一的工作人员进行订单跟进，将收到的货进行验货、打包、贴单、送货到 LGS 深圳仓库，一条龙服务； </span>
</p>
<p>
    <span style="font-size:16px;font-family:宋体">3. </span><span style="font-size:16px;font-family: 宋体">当天12 点前签收的货，都可在当天 5 点钟送往 LGS 深圳仓库扫描，当晚 就可以完成扫描入库； </span>
</p>
<p>
    <span style="font-size:16px;font-family:宋体">4. </span><span style="font-size:16px;font-family: 宋体">如有接近 7 天发货期的货，可以加急处理，费用看情况收取，一般情况下免费； </span>
</p>
<p>
    <span style="font-size:16px;font-family:宋体">5. </span><span style="font-size:16px;font-family: 宋体">免费存货服务，30 天清点一次，具体存货细节，与我们沟通。</span>
</p>
<p>
    <span style="font-size:16px;font-family:宋体">&nbsp;</span>
</p>
<p>
    <span style="font-size:16px;font-family:宋体">客户需要提供的信息： </span>
</p>
<p style="margin-left:0;text-indent:0">
    <span style="font-size: 16px;font-family:宋体">1. </span><span style="font-size:16px;font-family:宋体">客户寄货到神猫仓库后，需要通知相关业务员，并把寄过来的产品信息通过表格的方式发给业务员。（表格的信息需要体现：产品名称、图片、sku、 物流单号、LGS 运单号） </span>
</p>
<p style="margin-left:0;text-indent:0">
    <span style="font-size: 16px;font-family:宋体">2. </span><span style="font-size:16px;font-family:宋体">客户需要把每天发过来的货的 LGS 运单，在后台另存为 PDF 档，发给业务员；</span>
</p>
<p>
    <span style="font-size:16px;font-family:宋体">&nbsp;</span>
</p>
<p>
    <span style="font-size:16px;font-family:宋体">唯一收取费用项：</span>
</p>
<p>
    <span style="font-size:16px;font-family:宋体">打包材料费、贴标费、送货费全免，我们仅收打包处理费，具体费用如下： 每个订单（1 个 LGS 号算一个单）首重 1KG，3 块，续重 0.5 块。(尺寸为 20*30*7，具体尺寸收费具体沟通)</span>
</p>
<p>
    <span style="font-size:16px;font-family:宋体">&nbsp;</span>
</p>
<p>
    <span style="font-size:16px;font-family:宋体">收货地址与联系人： </span>
</p>
<p>
    <span style="font-size:16px;font-family:宋体">李生（+您的名字） 广东省深圳市宝安区福永新和二区二巷 9 号 17765293435</span>
</p>
<p>
    <br/>
</p>